* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #b0e0e6;
    text-align: center;
}

.container {
    background-color: #f0f8ff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

input, select, button {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #15bd1b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a8d14;
}

#result {
    margin-top: 1rem;
    padding: 0.5rem;
    border: 2px solid #193948;
    border-radius: 5px;
    background-color: #fff;
}

footer {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #555;
}

@media (max-width: 450px) {
    .input-group {
        flex-direction: column;
        align-items: center;
    }

    input, select, button {
        margin: 0.5rem 0;
    }
}

